UI_DOMAIN=localhost:3001
API_DOMAIN=localhost:6969
PORT=example

# Database info
DB_NAME=example
DB_USER=example
DB_PASSWORD=example
DB_HOST=example
DB_PORT=example

# SMTP Email
SMTP_SERVER=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=

# Using MailSend API
MAIL_SEND_API=

# Auth
JWT_SECRET=this-is-a-test-secret-key


# Google oAuth
G_OAUTH_CLIENT_ID=878637264002-8s95nq029tpakqh44on1p3kbhlfnhg7l.apps.googleusercontent.com
G_OAUTH_SECRET_KEY=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
G_OAUTH_CALLBACK=http://localhost:6969/auth/google/callback

# Apple oAuth
APPLE_OAUTH_CLIENT_ID=
APPLE_OAUTH_SECRET_KEY=
APPLE_OAUTH_CALLBACK=

# Microsoft oAuth
MS_OAUTH_CLIENT_ID=
MS_OAUTH_SECRET_KEY=
MS_OAUTH_CALLBACK=

# Facebook oAuth
# Apple oAuth
FB_OAUTH_CLIENT_ID=
FB_OAUTH_SECRET_KEY=
FB_OAUTH_CALLBACK=
